.nav-bar-container {
  display: flex;
  width: 6%;
  height: 90vh;
  background: #171e31;
  border-radius: 16px;
  align-items: center;
  flex-direction: column;
  gap: 10%;
  justify-content: space-around;
  margin: 0;
  z-index: 1;
  position: fixed;
}

.nav-bar-dashboard {

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.nav-bar-section {
  margin: 0;
  display: flex;
  height: 50%;
  flex-direction: column;
  justify-content: space-around;
}

.nav-bar-profile {
  background: none;
  border: none;
}

.nav-bar-container img {
  width: 100%;
}

.nav-bar-dashboard img {
  margin-top: 50px;
}

.nav-bar-link.active {
  filter: brightness(100);
}

.nav-bar-link.homeIcon {
  width: 33px;
}

.nav-bar-link.homeIconactive {
  width: 33px;
  filter: brightness(100);
}

@media (max-width: 420px) {
  .nav-bar-container {
    display: flex;
    width: 100vw;
    flex-direction: row;
    height: 10%;
    gap: 0px;
    z-index:2;
    position: absolute;
  }

  .nav-bar-dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .nav-bar-section {
    flex-direction: row;
    width: 100%;
  }

  .nav-bar-container img {
    width: 100%;
  }

  .nav-bar-logo {
    display: none;
  }

  .nav-bar-dashboard img {
    margin-top: 0px;
    justify-content: center;
  }

  .nav-bar-profile {
    display: none;
  }
}

@media (min-width: 420px) and (max-width: 770px) {
  .nav-bar-container {
    display: flex;
    width: 100vw;
    flex-direction: row;
    height: 10%;
    gap: 0px;
    z-index:2;
    position: absolute;
  }

  .nav-bar-dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .nav-bar-section {
    flex-direction: row;
    width: 100%;
  }

  .nav-bar-container img {
    width: 100%;
  }

  .nav-bar-logo {
    display: none;
  }

  .nav-bar-dashboard img {
    margin-top: 0px;
    justify-content: center;
  }

  .nav-bar-profile {
    display: none;
  }
}